*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keep placeholder, but ignore real credentials
# app/google-services.json

# Keystore files
*.keystore
*.jks

# Sensitive config
/app/src/main/assets/config.json
